.btn{
	font-size: 1.35rem;
	vertical-align: inherit;
}
.thead_styles{
	background: #367FA5;
}
.table td{
	padding: 0 !important;
	vertical-align: middle;
}
.table td a{
	display: block;
	width: 100%;
	height: 100%;
	padding: 0.55rem;
	text-decoration: none;
	color: #212529;
}
.table thead th{
	vertical-align: middle;
}
.table tbody tr:hover a{
	color: #F7F7F7;
}
.table tbody tr:hover{
	background-color: #68BBC3; 
}

.border_top{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.border_bottom{
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}